[Unit]
Description=Velocity Proxy server service
Wants=network-online.target

[Service]
Restart=on-failure
RestartSec=1s
User=root
ExecStartPre=/etc/velocity/update_velocity.sh
ExecStart=/usr/bin/java -jar /etc/velocity/velocity.jar
WorkingDirectory=/etc/velocity
ProtectSystem=full
ReadWriteDirectories=/etc/velocity

[Install]
WantedBy=multi-user.target
